name: Keep Render Backend Awake

# Run every 5 minutes
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render backend
        run: curl -s https://rice-disease-detection-backend-y6k1.onrender.com
